arrow
certifi
chardet
click
facebook-sdk
Flask
Flask-Cors
idna
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
pika
pymongo
python-dateutil
pytz
redis
requests
scikit-learn
scipy
six
sklearn
urllib3
uWSGI
Werkzeug
